/*АГУЛЬНЫЯ ПАРАМЕТРЫ*/

* {
    box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
	background-color: antiquewhite;
	height: auto;
	
	
}

.main-container {
	margin:0 auto;
	width: 375px;
	height: 667px;
	border-radius: 20px;
	text-align: center;
	box-shadow: 4px 3px 8px 2px #969696;
	background-color: #f8f8f8;
	overflow: hidden;

}


/*ПЕРШЫ ЭКРАН*/

.main-container__header {
	font-size: 28px;
	font-weight: 700;
	padding: 50px 10px 0px 10px;
}

.main-container__text {
	font-size: 18px;
	padding: 20px 25px 0px 25px;
	text-align: left;
}

.main-container__text--share {
	font-size: 18px;
	padding: 10px 25px 0px 29px;
	text-align: left;
}

.main-container__button {
	width: 280px;
	height: 60px;
	background-color: lightcoral;
	color: white;
	font-size: 25px;
	border-radius: 40px;
	margin-top: 40px;
	position: relative;
    top: 50%;
	border: none;
	cursor: pointer;
}

.main-container__button:hover {
	opacity: 90%;
}

.main-container__button:active {
	background-color: indianred;
}


.invisible {
	visibility: hidden;
}


/*Экран профіляў*/



.profile__photo {
	width: 375px;
	border-radius: 20px;
	position: relative;
	bottom: 610px;
}

.profile__name {
	text-align: left;
	font-weight: 400;
	font-size: 23px;
	position: relative;
	bottom: 710px;
	color: white;
}

.icon-house {
	font-size: 13px;
}

.profile__city {
	text-align: left;
	position: relative;
	bottom: 730px;
	color: white;
}

.profile__bio {
	text-align: left;
	position: relative;
	bottom: 680px;
}


.profile__nam {
	position: relative;
	top: -1340px;
}

/*кнопкі*/
.dislike-button {
  color: #e8315b;
	font-size: 37px;
}

.like-button {
  color: #44d48c;
	font-size: 31px;
}

.like-dislike-button  {
	width: 70px;
	height: 70px;
	border-radius: 180px;
	border: none;
	position: relative;
	margin: 0 40px;
	cursor: pointer;
	bottom: 630px;
	box-shadow: 0px 1px 27px -12px rgba(166,164,166,0.57);
}

